<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveProduct()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input [(ngModel)]="newProduct.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sitio</ion-label>
        <ion-select [(ngModel)]="newProduct.sitio" name="sitio">
          <ion-select-option *ngFor="let site of sites" [value]="site.id">{{ site.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">Guardar Producto</ion-button>
  </form>
  <ion-button expand="full" color="secondary" (click)="requestNewSite()">Agregar Nuevo Sitio</ion-button>
</ion-content>
