<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Sitio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre del Sitio</ion-label>
    <ion-input [(ngModel)]="newSite.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha de Registro</ion-label>
    <ion-input [(ngModel)]="newSite.fechaRegistro"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="saveSite()">Guardar</ion-button>
</ion-content>