#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.taskDone {
  text-decoration: line-through;
}

table.tasks-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td {
  white-space: nowrap; /* Evita que el texto se envuelva */
}

.product-column {
  width: 40%; /* Ajusta el porcentaje según sea necesario */
}

.site-column {
  width: 20%; /* Ajusta el porcentaje según sea necesario */
}

.date-column {
  width: 20%; /* Ajusta el porcentaje según sea necesario */
}

.actions-column {
  width: 20%; /* Ajusta el porcentaje según sea necesario */
}

.taskDone {
  text-decoration: line-through;
  color: gray;
}
