<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Lista Compras
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-left (click)="addItem()">
        <ion-icon name="add"></ion-icon>
        <span class="large-plus">+</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table class="tasks-table">
    <thead>
      <tr>
        <th class="product-column">Producto</th>
        <th class="site-column">Sitio</th>
        <th class="date-column">Fecha</th>
        <th class="actions-column">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; trackBy: trackItems">
        <td class="product-column">{{ task.title }}</td>
        <td class="site-column">{{ task.sitio }}</td>
        <td class="date-column">{{ task.fecha }}</td>
        <td class="actions-column">
          <ion-button color="secondary" (click)="markAsDone(task)">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="removeTask(task)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>

